:root{
  --theme-color-yellow: #FCF038;
  --theme-color-black: #141414;
}
body{
  cursor: crosshair;
}

/* Cursor Styling*/
.cursor{
  width: 30px;
  height: 30px;
background-color: var(--theme-color-black); 
border: 5px solid var(--theme-color-yellow);
border-radius: 50%;
position:fixed;
}

/* #description:hover ~ .cursor{
  background-color: transparent;
  border:5px solid var(--theme-color-black) ;
} */
